
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

:root {
    --Bereablue: #27348b;
    --white: #ffffff;
  }

body{
    position: relative;
    padding: 0;
    margin: 0;
    background-image: url(img/DSC_0021.jpg);
    background-attachment: fixed;
    background-size: cover;
}
header{
    border: 2px solid black ;
    background-color: var(--Bereablue);
    color: white;
    display: flex;
    padding: 5px;
    z-index: 5px;
    margin: 5px;
}
nav{
    display: flex;
    align-items: center;
    margin: 5px;
    width: 100%;
}
nav img{
    border: 2px solid black;
    clip-path: circle();
    width: 50px;
    height: 50px;
}
.pages {
    width: 100%;
}

.pages a {
    float: right;
    margin: 5px;
    padding: 5px;
    color: var(--white); /* Ensure to define this variable */
    text-decoration: none;
    transition: transform 0.5s ease;
}

.pages a:hover {
    transform: translateY(-10px); /* Adjust the value to control the slide distance */
    text-decoration: underline;
}


.mainview{
    margin: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 50%;
}

section h1{
    font-size: 50px;
    font-family: "Roboto Slab", serif;
}

.loginBox {
    position: relative;
    border: 2px solid black;
    border-radius: 20px;
    background-color: var(--white);
    text-align: center;
    justify-content: center;
    width: 100%; /* Adjust width as needed */
    margin: auto; /* Center the login box horizontally */
    padding: 5%;
}

.loginBox form {
    padding: 10px;
    margin: 5px;
}

.loginBox input[type="text"] {
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
    border: 2px solid black;
}

.loginBox input[type="submit"] {
    width: 100%;
    border: 2px solid black;
    padding: 5px;
    margin-top: 10px; /* Space between input text and submit button */
    border-radius: 20px;
    position: relative;
    bottom: -15px;
}


footer{
    border: 2px solid black;
    background-color: var(--Bereablue);
    color: var(--white);
    display: flex;
    padding: 10px;
    margin: 5px;
}
