
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --Bereablue: #27348b;
    --white: #ffffff;
  }

body{
    position: relative;
    padding: 0;
    margin: 0;
    background-image: url(img/DSC_0021-min.jpg);
    background-attachment: fixed;
    background-size: contain;
    image-rendering: optimizeSpeed;
    background-attachment: fixed;
    background-size: cover;
    
}
header{
    border: 2px solid black ;
    background-color: var(--Bereablue);
    color: white;
    display: flex;
    padding: 5px;
    z-index: 5px;
    margin: 5px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    animation: faze1;
    animation-duration: 3s;
    animation-delay: 1,5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards; 
    transition: opacity 2s;
}
@keyframes faze1 {
    from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
  }




nav{
    display: flex;
    align-items: center;
    margin: 5px;
    width: 100%;
}

nav img{
    border: 2px solid black;
    clip-path: circle();
    width: 50px;
    height: 50px;
}
.pages {
    width: 100%;
}

.pages a {
    float: right;
    margin: 5px;
    padding: 5px;
    color: var(--white); /* Ensure to define this variable */
    text-decoration: none;
    transition: transform 0.5s ease;
}

.pages a:hover {
    transform: translateY(-10px); /* Adjust the value to control the slide distance */
    text-decoration: underline;
}


.mainview{
    margin: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 50%;
    
}

section h1{
    font-size: 50px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    
}

#s1{
    animation: slidein1;
    animation-duration: 3s;
    animation-delay: 1,5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards; 
}
@keyframes slidein2 {
    0% {
      transform: translateX(-50%);
    }
    100% {
      transform: translateX(0%);
    }
  }

#s2{
   color: rgb(250, 196, 59);
   text-shadow: 0 2px 2px black;
    animation: slidein2;
    animation-duration: 3s;
    animation-delay: 1,5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes slidein1 {
    0% {
      transform: translateY(-50%);
    }
    100% {
      transform: translateY(0%);
    }
  }





.loginBox {
    position: relative;
    border: 2px solid black;
    box-shadow: 0 2px 2px black;
    border-radius: 20px;
    background-color:rgba(255, 255, 255, 0.8);
    text-align: center;
    justify-content: center;
    width: 100%; /* Adjust width as needed */
    margin: auto; /* Center the login box horizontally */
    padding: 5%;
}

.loginBox form {
    padding: 10px;
    margin: 5px;
}

.loginBox input[type="text"] {
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
    border: 2px solid black;
}

.loginBox input[type="submit"] {
    width: 100%;
    border: 2px solid black;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: black;
    background-color: rgb(255, 255, 255 , 0,5);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    position: relative;
    bottom: -15px;
    transition: 0.5s;
}

.loginBox input[type="submit"]:hover{
  box-shadow: 0 9px var(--Bereablue);
}

.loginBox input[type="submit"]:active {
  background-color: var(--Bereablue);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

footer{
    border: 2px solid black;
    background-color: var(--Bereablue);
    color: var(--white);
    display: flex;
    padding: 10px;
    margin: 5px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    animation: faze2;
    animation-duration: 3s;
    animation-delay: 1,5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards; 
}
@keyframes faze2 {
    from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
  }


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--bereagray);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--Bereablue);
  border-radius: 20px;
  height: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--Bereablue);
}
::-webkit-scrollbar-button{
  background-color: var(--Bereablue);
}