@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --Bereablue: #27348b;
    --white: #ffffff;
    --bereagray:#6D6E71;
  }

body{
  scroll-behavior: smooth;
  background-image:  url(img/DSC_0021-min.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    animation: faze1;
    animation-duration: 3s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards; 
    
}
@keyframes faze1 {
  from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}


/*header*/
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border: 2px solid black;
  background-color: var(--Bereablue); 
  font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  color: white;
  display: flex;
  padding: 5px;
  z-index: 1000;
  margin-top: 0;
  margin: 5px;
}

.mobile{
  display: none;
}

nav{
    display: flex;
    align-items: center;
    margin: 5px;
    width: 100%;
}

nav img{
    border: 2px solid black;
    clip-path: circle();
    width: 50px;
    height: 50px;
}
.pages {
    width: 100%;
}
nav .pages{
  display: flex;
  justify-content: center;
}

.username{
  display: flex;
  align-items: center;
  border: 2px solid var(--Bereablue);
  background-color: 255 255 255 0.1;
  box-shadow: 0 2px 2px 2px black;
  padding: 5px;
  height: 65%;
  cursor:context-menu;
  justify-content: center;
  font-size: larger;
  text-align: center;
  color: black;
  border-radius: 5px;
  font-weight: 500;

}

.pages a {
    float: right;
    margin: 5px;
    padding: 5px;
    color: var(--white); /* Ensure to define this variable */
    text-decoration: none;
    transition: transform 0.5s ease;
}

.pages a:hover {
    transform: translateY(-10px); /* Adjust the value to control the slide distance */
}


.pfp{
    border: 2px solid black;
    border-radius: 50px;
    width: 100px;
    padding: 10px;
    height: 100px;
}

/* side bar for mobile */

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1001;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  float: left;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}



/*body description*/

.popoutbox{
    margin: 5%;
    background-color: rgb(255, 255, 255 , 0.5);
    box-shadow: 0 2px 2px black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 50%;
}

* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}


/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

/*hottest*/
h2{
    text-align: center;
}
.box{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
  
}
.bookbox{
    height: 100%;
    
}
#hottest {
    font-size: 4rem;
    font-weight: bold;
    color: #f00; /* Red color for fire effect */
    text-shadow: 0 0 20px #f00, 0 0 40px #f00, 0 0 80px #f00, 0 0 160px #ff0, 0 0 200px #ff0, 0 0 240px #ff0, 0 0 280px #ff0, 0 0 320px #ff0;

    position: relative;

    animation: burn 1s infinite alternate;
  }
  
 /* @keyframes burn {
    0% {

      text-shadow: 0 0 10px #f00, 0 0 20px #f00, 0 0 40px #f00, 0 0 80px #ff0, 0 0 120px #ff0, 0 0 160px #ff0, 0 0 200px #ff0, 0 0 240px #ff0;
    }
    50%{
        text-shadow: 0 0 15px #f00, 0 0 30px #f00, 0 0 60px #f00, 0 0 120px #ff0, 0 0 160px #ff0, 0 0 200px #ff0, 0 0 240px #ff0, 0 0 280px #ff0;
    }
    100% {

      text-shadow: 0 0 20px #f00, 0 0 40px #f00, 0 0 80px #f00, 0 0 160px #ff0, 0 0 200px #ff0, 0 0 240px #ff0, 0 0 280px #ff0, 0 0 320px #ff0;
    }
  }*/
/*search and canva for results*/
.glassy-title {
  color: white; /* Text color */
  font-size: 3em; /* Adjust the size as needed */
  font-family: 'Arial', sans-serif; /* Adjust the font as needed */
  text-align: center; /* Center the title */
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.2); /* Semi-transparent background */
  border-radius: 10px; /* Rounded corners */
  backdrop-filter: blur(10px); /* Apply blur effect */
  -webkit-backdrop-filter: blur(10px); /* For Safari */
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Optional: Add text shadow for better readability */

  margin: 20px auto; /* Center horizontally with margin */
}

.seachbox{
    margin-top: 5%;    
}

#fullSearch{
  border: 2px solid black;
  border-radius: 10px;
  background: var(--Bereablue);
  padding: 10px;
  text-align: center;
  color: white;
}

.truecenter{

    align-items: center;
    text-align: center;
}
#myInput {
    background-position: 10px 12px; 
    background-repeat: no-repeat;
    width: 80%; 
    font-size: 16px; 
    padding: 12px 20px 12px 40px; 
    border: 1px solid #ddd; 
    margin-bottom: 12px; 
}

#myInput:placeholder-shown{

    align-items: center;
    text-align: center;
}


.catalogue {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 10%;
  margin: 5px;
  width: 100%;
}

.catalogue a {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  background-size: cover;
  border: 1px solid black;
  border-radius: 20px;
  padding: 5px;
  margin: 5px;
  width: 17%;
  height: 300px; /* Set a fixed height */
  transition: 0.5s;
  overflow: hidden; /* Ensure child elements don't overflow */
}

.catalogue a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: inherit; /* Inherit the background image from parent */
  backdrop-filter: blur(10px); /* Apply blur effect to the pseudo-element */
  z-index: -1; /* Ensure the pseudo-element is behind other content */
}

.catalogue a:hover{
  background-color: black;
  box-shadow: 0 3px 3px 3px black;
}

.catalogue h4 {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; /* Adjust color for better visibility */
  background: rgba(0, 0, 0, 0.5); /* Optional: Add background for better readability */
  padding: 5px; /* Optional: Add padding for better readability */
  border-radius: 5px; /* Optional: Add border radius for better aesthetics */
}

/*catalogue button*/
.btn {
  width: 50%;
  margin-bottom: 10px;
  border: 2px solid black;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: black;
  background-color: rgb(255, 255, 255 , 0,5);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  position: relative;
  bottom: -15px;
  transition: 0.5s;
}

.btn:hover{
box-shadow: 0 9px var(--Bereablue);
}

.btn:active {
background-color: var(--Bereablue);
box-shadow: 0 5px #666;
transform: translateY(4px);
}


/*foother*/
footer{
    border: 2px solid black;
    background-color: var(--Bereablue);
    margin-top: 10px;
    color: var(--white);
    display: flex;
    padding: 10px;
    margin: 5px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
/*remake nav for mobile*/


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--bereagray);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--Bereablue);
  border-radius: 20px;
  height: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--Bereablue);
}
::-webkit-scrollbar-button{
  background-color: var(--Bereablue);
}
@media only screen and (max-width: 500px) {
  .catalogue a:hover{
    width: 200%;
    background-color: black;
    box-shadow: 0 3px 3px 3px black;
  }
}
@media only screen and (max-width: 500px) {
   header{
    position: relative;
   }
   .mobile{
    display: block;
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
   }
   nav .pages{
    display: none;
   }
   .username{
    display: none;
   }
}